<!-- <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation"> -->
  <!-- <div class="container"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header"> -->
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    <!-- </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"> -->
         <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="images/flags/US.png"/>
                English(US)
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><img src="images/flags/DE.png"/> Deutsch</a></li>
                <li><a href="#"><img src="images/flags/GB.png"/> English(UK)</a></li>
                <li><a href="#"><img src="images/flags/FR.png"/> Français</a></li>
                <li><a href="#"><img src="images/flags/RO.png"/> Română</a></li>
                <li><a href="#"><img src="images/flags/IT.png"/> Italiano</a></li>

                <li class="divider"></li>
                <li><a href="#"><img src="images/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/TR.png"/> Türkçe <span class="label label-default">soon</span></a></li>

              </ul>
        </li> -->

      <!-- </ul>
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" style="color: #17375e;">
                    <i class="fa fa-facebook-square"></i>
                    <div class="fb-share-button"
                            data-href="http://www.wyou.co"
                            data-layout="button">
                    Share
                </a>
            </li>
             <li>
                <a href="#" style="color: #17375e;">
                    <i class="fa fa-twitter"></i>
                    Tweet
                </a>
            </li>
             <li>
                <a href="#" style="color: #17375e;">
                    <i class="fa fa-envelope-o"></i>
                    Email
                </a>
            </li>
       </ul> -->

    <!-- </div>/.navbar-collapse -->
  <!-- </div>/.container -->
<!-- </nav> -->
<div class="main bg-photo-main" style="background-color: white">

<!--    Change the image source '/images/default.jpg' with your favourite image.     -->

    <div class="cover blue" data-color="blue"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            <%= image_tag('wyoulogo.png') %>
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

        <div class="content">
            <h4 class="motto" style="color: #17375e;">w/you helps people facing medical situations find the right clothing, footwear, and accessories to meet their changing physical needs and stylistic preferences. <br /><br />

                    We also offer an easy way for loved ones to provide tangible and meaningful support to such individuals through contributing toward the purchase of these items.</h4>
            <div class="subscribe" style="color: #17375e;">
                <h5 class="info-text" style="color: #17375e;">
                    Join the waiting list for our launch. We'll make sure to reach out when we are ready!
                </h5>
                <div class="row" style="color: #17375e;">
                    <div class="col-md-6 col-md-offset-5 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline" role="form">
                          <div class="form-group">



                            <!--End mc_embed_signup-->
                            <!-- <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control transparent" placeholder="Your email here..."> -->
                            <button id="open-popup" class="btn btn-danger btn-fill">Notify Me</button>
                          </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer">
      <div class="container">
             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/coming-sssoon-page">here.</a>
      </div>
    </div> -->
 </div>

  <script>//(function(d, s, id) {
 //    var js, fjs = d.getElementsByTagName(s)[0];
 //    if (d.getElementById(id)) return;
 //    js = d.createElement(s); js.id = id;
 //    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.5&appId=939650986154464";
 //    fjs.parentNode.insertBefore(js, fjs);
 //  }(document, 'script', 'facebook-jssdk'));</script>

  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script>
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"ba3ada976605159e70702ff20","lid":"949006a45c"}) })
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    }
document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
</script>
