<h1 class="col-md-6"> Consents</h1>
  <div class="col-md-12">
    <h3>Informed consent for persons creating an account for someone else:</h3>
      <p>I fully acknowledge and understand that what I am purchasing from w/you, LLC is designed for the
        specific and limited purpose of assisting the person(s) for whom I am purchasing an account to find
        clothing, footwear, and/or accessories intended to accommodate both their physical needs and stylistic
        preferences, and come with no guarantee or warranty that they will improve any such person’s health
        or medical condition, and that five (5) percent of the amount I am paying w/you, LLC is for the services it
        will provide and therefore will not be available for the purchase of any clothing, footwear, or accessories
        it curates for or otherwise helps the recipient(s) to find. I further fully acknowledge and understand that
        what I am purchasing from w/you, LLC does not in any way constitute or include the provision of
        medical service, health-care service, or complementary health service within the meaning of any
        statute, regulation, or law, and that w/you, LLC is not a medical or health-care provider within the
        meaning of any statute, regulation, or law. I therefore consent and agree not to bring any claims against
        w/you, LLC in any venue based on an alleged failure of a duty owed in connection with the provision of
        any of the above-referenced or owed by any of the above-referenced providers.
        <br /><br />
        Further, notwithstanding my purchase of an account, I further acknowledge that it is solely within the
        discretion of the account recipient(s) as to whether I am provided an opportunity to provide input on
        the selection of suitable clothing, footwear, and/or accessories or otherwise be made aware of how
        w/you, LLC provides care on their behalf. I also understand that, once I make a deposit into an account,
        it becomes a gift to the recipient, who has complete control over whether and how they wish to use it.
        If the recipient of my gift opts not to utilize w/you, LLC, they may choose to donate my gift to a fund
        that will be used to defray the costs of w/you, LLC to provide an account to those in need of resources
        who otherwise would not be able to afford them.
      </p>
      <br /><br />
    <h3>Informed consent for the gift recipient:</h3>
      <p>
        As the recipient of an account, you have the right to choose if you want others involved not. If you do,
        you will be given the opportunity to provide their names and e-mail addresses. These people do not
        have to include those person(s) who originally opened an account for you. By giving w/you, LLC the e-
        mail addresses of one or more persons for this purpose, you are also giving consent and permission for
        the information that you provide to w/you, LLC to be known to those persons.
      </p>
      <br /> <br />
    <h3>Informed consent for persons creating an account for themselves:</h3>
      <p>
        I fully acknowledge and understand that what I am purchasing from w/you, LLC is designed for the
        specific and limited purpose of assisting me to find clothing, footwear, and/or accessories intended to
        accommodate both my physical needs and stylistic preferences, and come with no guarantee or
        warranty that they will improve my health or medical condition, and that five (5) percent of the amount
        I am paying w/you, LLC is for the services it will provide me and therefore will not be available for the
        purchase of any clothing, footwear, or accessories it curates for me or otherwise helps me to find. I
        further fully acknowledge and understand what I am purchasing from w/you, LLC and that it will provide
        me do not in any way constitute or include the provision of medical service, health-care service, or
        complementary health service within the meaning of any statute, regulation, or law, and also that
        w/you, LLC is not a medical or health-care provider within the meaning of any statute, regulation, or
        law. I therefore consent and agree not to bring any claims against w/you, LLC in any venue based on an
        alleged failure of a duty owed in connection with the provision of any of the above-referenced or owed
        by any of the above-referenced providers.
      </p>
  </div>
