<div id="wrapper" class="wide-wrap">
  <div class="offcanvas-overlay"></div>
  <header class="header-type-classic">
    <div class="navbar-container">
      <div class="navbar navbar-default  navbar-scroll-fixed">
        <div class="navbar-default-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 navbar-default-col">
                <div class="navbar-wrap">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar bar-top"></span>
                      <span class="icon-bar bar-middle"></span>
                      <span class="icon-bar bar-bottom"></span>
                    </button>
                    <a class="navbar-search-button search-icon-mobile" href="#">
                      <i class="fa fa-search"></i>
                    </a>
                    <a class="cart-icon-mobile" href="#">
                      <i class="elegant_icon_bag"></i><span>0</span>
                    </a>
                    <a class="navbar-brand" href="./">
                      <img class="logo" alt="The DMCS" src="images/logo.png">
                      <img class="logo-fixed" alt="The DMCS" src="images/logo-fixed.png">
                      <img class="logo-mobile" alt="The DMCS" src="images/logo-mobile.png">
                    </a>
                  </div>
                  <nav class="collapse navbar-collapse primary-navbar-collapse">
                    <ul class="nav navbar-nav primary-nav">
                      <li class="menu-item-has-children dropdown">
                        <a href="./" class="dropdown-hover">
                          <span class="underline">Home</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="home-lookbook.html">Home Lookbook</a></li>
                          <li><a href="home-instagram.html">Home Instagram</a></li>
                          <li><a href="home-product-slider.html">Home Product Slider</a></li>
                          <li><a href="home-default.html">Home Default</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children megamenu megamenu-fullwidth dropdown">
                        <a href="shop.html" class="dropdown-hover">
                          <span class="underline">Shop</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        <li class="menu-item-has-children mega-col-3 dropdown-submenu">
                          <h3 class="megamenu-title">
                            Women <span class="caret"></span>
                          </h3>
                          <ul class="dropdown-menu">
                            <li><a href="shop-by-category.html">Nulla</a></li>
                            <li><a href="shop-by-category.html">Maecenas</a></li>
                            <li><a href="shop-by-category.html">Aliquam</a></li>
                            <li><a href="shop-by-category.html">Donec</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children mega-col-3 dropdown-submenu">
                          <h3 class="megamenu-title">
                            Brands <span class="caret"></span>
                          </h3>
                          <ul class="dropdown-menu">
                            <li><a href="shop-by-category.html">Adesso</a></li>
                            <li><a href="shop-by-category.html">Barbour</a></li>
                            <li><a href="shop-by-category.html">Carvela</a></li>
                            <li><a href="shop-by-category.html">Crocs</a></li>
                            <li><a href="shop-by-category.html">Evans</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children mega-col-3 dropdown-submenu">
                          <h3 class="megamenu-title">
                            Collections <span class="caret"></span>
                          </h3>
                          <ul class="dropdown-menu">
                            <li><a href="shop-by-collection.html">Spring/Summer 2014</a></li>
                            <li><a href="shop-by-collection.html">Sweet Summer</a></li>
                            <li><a href="shop-by-collection.html">Winter 2015</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children mega-col-3 dropdown-submenu">
                          <h3 class="megamenu-title">
                            Woo <span class="caret"></span>
                          </h3>
                          <ul class="dropdown-menu">
                            <li><a href="shop-masonry.html">Shop Masonry</a></li>
                            <li><a href="shop-detail.html">Shop Detail</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="cart-empty.html">Empty Cart</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="collection.html"><span class="underline">Collections</span></a></li>
                    <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-hover">
                    <span class="underline">Blog</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="blog-default.html">Blog Default</a></li>
                    <li><a href="blog-center.html">Blog Center</a></li>
                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                    <li><a href="blog-detail.html">Blog Detail</a></li>
                    </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-hover">
                    <span class="underline">Pages</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    </ul>
                    </li>
                    <li class="navbar-search">
                    <a class="navbar-search-button" href="#">
                    <i class="fa fa-search"></i>
                    </a>
                    </li>
                    <li class="navbar-minicart navbar-minicart-nav">
                    <a class="minicart-link" href="#">
                    <span class="minicart-icon">
                    <i class="minicart-icon-svg elegant_icon_bag"></i>
                    <span>0</span>
                    </span>
                    </a>
                    <div class="minicart">
                    <div class="minicart-header no-items show">
                    Your shopping bag is empty.
                    </div>
                    <div class="minicart-footer">
                    <div class="minicart-actions clearfix">
                    <a class="button" href="#">
                    <span class="text">Go to the shop</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="heading-container">
    <div class="container heading-standar">
      <div class="page-breadcrumb">
        <ul class="breadcrumb">
          <li><span><a href="#" class="home"><span>Home</span></a></span></li>
          <li><span>FAQ</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 main-wrap">
          <div class="main-content">
            <div class="row">
              <div class="col-sm-8">
                <div class="wpb_wrapper">
                  <div class="row inner faq-wrapper">
                    <div class="col-sm-12">
                      <div class="content_element title">
                        <h2>General Questions</h2>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Does w/you™ provide medical treatment or advice?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          No.  w/you™ is a supplementary or auxiliary service for those facing health-related
                          situations, but it does not constitute or include the provision of medical services, health-
                          care services, or complementary health services of any kind.  In working with those
                          facing health-related situations to help them find products intended to meet their
                          particularized needs, our MedStylists™ may draw upon a data base of what has helped
                          other similarly situated individuals and/or more specifically consult with nurses,
                          occupational therapists, and other health-care professionals or employees to enlist their
                          advice and receive the benefit of their experience.  The person receiving our services,
                          however, has no direct contact with any of these health-care professionals or other
                          employees, but will gain the benefit of their expertise through any consultation that their
                          MedStylistTM may have with them.  Moreover, if asked questions that even start to sound
                          like they are seeking medical care or advice, the MedStylist™ is not authorized to
                          answer them and will instead kindly direct the recipient of our services to put any such
                          questions to one or more of their medical provider(s) instead.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What will you do with any of my medical records that I provide consent for w/you™ to receive?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>First and most importantly, the only medical records we would receive or have access to
                          are any for which a person has explicitly and specifically provided consent through a
                          duly executed release of information (ROI) form that is available on our site.  If you do
                          decide to give permission by executing an ROI for w/you, LLC™ to obtain or review
                          certain portions of your medical records from your relevant health-care providers to
                          enhance our understanding of your situation, we will securely maintain any such
                          information.  Our goal is to respect your privacy while also seeking to be as fully aware
                          of your physical needs as possible so that you do not have to continually provide the
                          same information or “start from square one” each time you may need to utilize our
                          services.  In addition, at any time you may send us a written request instructing us to
                          destroy any medical records or information you have provided consent for us to receive.</p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What role does my insurance play in the provision of or payment for your services?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>Some health insurance companies are covering certain types of clothing, footwear and
                          accessories (e.g., compression socks, mastectomy bras, or diabetic shoes).  Because
                          we want you to be able to put the funds you have available for the purchase of items
                          through utilization of our services to the maximum extent practicable, we’ll do our best
                          to work with you to try to make sure that you can utilize your insurance benefits to the
                          full extent of your coverage for any such items. For your specific coverage information,
                          it’s always recommended to have direct communication with your insurance carrier(s).
                          To be clear, though, we do not submit anything to your health-insurance carrier(s).  You
                          and your medical provider(s) are responsible for submitting any insurance claims.</p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What if I want loved ones to be involved with providing input on the items I ultimately
                          choose to purchase through utilization of the services of w/you, LLC™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          No problem. You will be able to provide the e-mail addresses of up to three people who
                          you want to be provided an opportunity to play such a role, and we will follow up by
                          inviting them to do so.  It will be up to them whether to accept your invitation, of course.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>If someone purchases your services for me, what information do they have access to?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Upon agreeing to accept our services purchased for you by someone else, you are
                          providing your consent for any others who may be invited to contribute toward the
                          purchase of such services on your behalf to learn at least in general about the health-
                          related situation for which the services are being provided.  In addition, if you give
                          authorization for others (up to three maximum) to be involved with providing input on the
                          items you ultimately select to purchase, you will be asked to provide consent for them to
                          be aware of the more specific information that you (and any relevant medical providers
                          for which you have duly executed a Release of Information) have given to w/you, LLC™
                          in connection with the provision of our services.  Merely purchasing or contributing
                          toward the purchase of our services does not, however, give a person access to this
                          more specific information that has been provided to us or to any of your medical records
                          that you may have granted consent for us to review or receive through an ROI.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
<div class="row inner faq-wrapper">
<div class="col-sm-12">
<div class="content_element title">
<h2>Shipping</h2>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I contact you?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
You can email us at
<a href="/cdn-cgi/l/email-protection#8eebe3efe7e2ceeae1e3efe7e0a0ede1e3">email@domain</a>
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Where are you located? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We&#8217;re located in 69 New York,CA, 1239 USA</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>What forms of payment do you accept?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We accept all major credit cards, as well as Paypal.</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Do you have a different size?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
We only have the sizes listed on the product page in stock. We unfortunately only carry limited sizes in stock.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I cancel an order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Write us as soon as possible at
<a href="/cdn-cgi/l/email-protection#5d38303c34311d3932303c3433733e3230">email@domain</a>. Once something has shipped, we can no longer cancel and refund an order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Something is wrong with my order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Please contact us as soon as possible at
<a href="/cdn-cgi/l/email-protection#aecbc3cfc7c2eecac1c3cfc7c080cdc1c3">email@domain</a>
Once something has shipped, we can no longer make changes to your order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Will I fit into a garment listed as one size/free size? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Our one size garments are items that are meant to be worn oversized, are free flowing or adjustable. If you wear a size small to large, these items will generally fit you. Please check our measurements and size guide! We list out model&#8217;s measurements as a reference.
</p>
</div>
</div>
</div>
</div>
<div class="row inner faq-wrapper">
<div class="col-sm-12">
<div class="content_element title">
<h2>Returns/Exchange</h2>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I contact you?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
You can email us at
<a href="/cdn-cgi/l/email-protection#caafa7aba3a68aaea5a7aba3a4e4a9a5a7">email@domain</a>
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Where are you located? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We&#8217;re located in 69 New York,CA, 1239 USA</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>What forms of payment do you accept?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We accept all major credit cards, as well as Paypal.</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Do you have a different size?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
We only have the sizes listed on the product page in stock. We unfortunately only carry limited sizes in stock.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I cancel an order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Write us as soon as possible at
<a href="/cdn-cgi/l/email-protection#87e2eae6eeebc7e3e8eae6eee9a9e4e8ea">email@domain</a>. Once something has shipped, we can no longer cancel and refund an order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Something is wrong with my order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Please contact us as soon as possible at
<a href="/cdn-cgi/l/email-protection#6f0a020e06032f0b00020e0601410c0002">email@domain</a>
Once something has shipped, we can no longer make changes to your order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Will I fit into a garment listed as one size/free size? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Our one size garments are items that are meant to be worn oversized, are free flowing or adjustable. If you wear a size small to large, these items will generally fit you. Please check our measurements and size guide! We list out model&#8217;s measurements as a reference.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="row contact-info">
<div class="col-sm-12">
<div class="title">
<h4>NEED SUPPORT</h4>
</div>
<div class="separator content_element separator_align_center sep_width_100 sep_pos_align_center separator_no_text">
<span class="sep_holder sep_holder_l">
<span class="sep_line"></span>
</span>
<span class="sep_holder sep_holder_r">
<span class="sep_line"></span>
</span>
</div>
<div class="content_element">
<div class="support-icon">
<i class="fa fa-map-marker"></i>
69 New York,CA, 1239 USA
</div>
<div class="support-icon">
<i class="fa fa-phone"></i>
(012) 1234 7824
</div>
<div class="support-icon">
<i class="fa fa-envelope-o"></i>
<a href="/cdn-cgi/l/email-protection#6c09010d05002c0803010d0502420f0301">
<span class="__cf_email__" data-cfemail="fd98909c9491bd9992909c9493d39e9290">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-widget">
<div class="container">
<div class="footer-widget-wrap">
<div class="row">
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Infomation</span></h3>
<ul class="menu">
<li><a href="#">About Us</a></li>
<li><a href="#">Work Here</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Dealer Locator</a></li>
<li><a href="#">Happenings</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Customer Care</span></h3>
<ul class="menu">
<li><a href="#">Support</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Repair Center</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Quick Link</span></h3>
<ul class="menu">
<li><a href="#">Order Status</a></li>
<li><a href="#">Shipping Policy</a></li>
<li><a href="#">Return Policy</a></li>
<li><a href="#">Digital Gift Card</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Help</span></h3>
<ul class="menu">
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms and Conditions</a></li>
<li><a href="#">Social Responsibility</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-4 col-sm-6">
<div class="widget widget_text">
<h3 class="widget-title"><span>The Store</span></h3>
<div class="textwidget">
<p><i class="fa fa-map-marker"></i> No 68/12, Tower Street,New York, USA</p>
<p><i class="fa fa-phone"></i> (012) 1234 7824</p>
<p><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection#91f4fcf0f8fdd1f5fefcf0f8ffbff2fefc"><span class="__cf_email__" data-cfemail="8de8e0ece4e1cde9e2e0ece4e3a3eee2e0">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></p>
<p class="payment"><img src="images/footer-payment-color.png" alt=""></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer id="footer" class="footer">
<div class="footer-info">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<div class="footer-info-logo">
<a href="#"><img alt="The DMCS" src="images/footer-logo.png"></a>
</div>
<div class="copyright text-center">Copyright right © 2015 DMCS. All Rights Reserved.</div>
<div class="footer-social">
<a href="#" title="Facebook" target="_blank">
<i class="fa fa-facebook facebook-bg-hover"></i>
</a>
<a href="#" title="Twitter" target="_blank">
<i class="fa fa-twitter twitter-bg-hover"></i>
</a>
<a href="#" title="Google+" target="_blank">
<i class="fa fa-google-plus google-plus-bg-hover"></i>
</a>
<a href="#" title="Pinterest" target="_blank">
<i class="fa fa-pinterest pinterest-bg-hover"></i>
</a>
<a href="#" title="RSS" target="_blank">
<i class="fa fa-rss rss-bg-hover"></i>
</a>
<a href="#" title="Instagram" target="_blank">
<i class="fa fa-instagram instagram-bg-hover"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<div class="modal fade user-login-modal" id="userloginModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userloginModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
<div class="user-login-facebook">
<button class="btn-login-facebook" type="button">
<i class="fa fa-facebook"></i>Sign in with Facebook
</button>
</div>
<div class="user-login-or"><span>or</span></div>
<div class="form-group">
<label>Username</label>
<input type="text" id="username" name="log" required class="form-control" value="" placeholder="Username">
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" required value="" name="pwd" class="form-control" placeholder="Password">
</div>
<div class="checkbox clearfix">
<div class="form-flat-checkbox pull-left">
<input type="checkbox" name="rememberme" id="rememberme" value="forever"><i></i>&nbsp;Remember Me
</div>
<span class="lostpassword-modal-link pull-right">
<a href="#lostpasswordModal" data-rel="lostpasswordModal">Lost your password?</a>
</span>
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-register pull-left">
<a data-rel="registerModal" href="#">Not a Member yet?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Sign in</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade user-register-modal" id="userregisterModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userregisterModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Register account</h4>
</div>
<div class="modal-body">
<div class="user-login-facebook">
<button class="btn-login-facebook" type="button">
<i class="fa fa-facebook"></i>Sign in with Facebook
</button>
</div>
<div class="user-login-or"><span>or</span></div>
<div class="form-group">
<label>Username</label>
<input type="text" name="user_login" required class="form-control" value="" placeholder="Username">
</div>
<div class="form-group">
<label for="user_email">Email</label>
<input type="email" id="user_email" name="user_email" required class="form-control" value="" placeholder="Email">
</div>
<div class="form-group">
<label for="user_password">Password</label>
<input type="password" id="user_password" required value="" name="user_password" class="form-control" placeholder="Password">
</div>
<div class="form-group">
<label for="user_password">Retype password</label>
<input type="password" id="cuser_password" required value="" name="cuser_password" class="form-control" placeholder="Retype password">
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-link pull-left">
<a data-rel="loginModal" href="#loginModal">Already have an account?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Register</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade user-lostpassword-modal" id="userlostpasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userlostpasswordModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Forgot Password</h4>
</div>
<div class="modal-body">
<div class="form-group">
<label>Username or E-mail:</label>
<input type="text" name="user_login" required class="form-control" value="" placeholder="Username or E-mail">
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-link pull-left">
<a data-rel="loginModal" href="#loginModal">Already have an account?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Sign in</button>
</div>
</form>
</div>
</div>
</div>
<div class="sitesao-preview">
<div class="sitesao-preview__wrap">
<a href="#" class="sitesao-preview__control"><i class="fa fa-spin fa-cog"></i></a>
<div class="sitesao-preview__header">
<h4>Demo</h4>
</div>
<div class="sitesao-preview__content">
<div class="sitesao-preview__content__section">
<div class="sitesao-preview__content__section__layout">
<label>Layout Style</label>
<select data-name="layout-style">
<option selected="selected" value="wide">Wide</option>
<option value="boxed">Boxed</option>
</select>
</div>
<div class="sitesao-preview__content__section__bg-pattern">
<label>Pattern examples:</label>
<ul>
<li>
<a href="#" data-pattern="images/background/pattern-1.png" style="background-image:url(images/background/pattern-1.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-2.png" style="background-image:url(images/background/pattern-2.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-3.png" style="background-image:url(images/background/pattern-3.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-4.png" style="background-image:url(images/background/pattern-4.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-5.png" style="background-image:url(images/background/pattern-5.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-6.png" style="background-image:url(images/background/pattern-6.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-7.png" style="background-image:url(images/background/pattern-7.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-8.png" style="background-image:url(images/background/pattern-8.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-9.png" style="background-image:url(images/background/pattern-9.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-10.png" style="background-image:url(images/background/pattern-10.png)"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
