<!DOCTYPE html>
<html>
<head>
  <title>Dmcs</title>
  <%= stylesheet_link_tag    "dmcs/all", media: "all" %>
  <%= javascript_include_tag "dmcs/all" %>
  <%= csrf_meta_tags %>
</head>


<%= yield %>


</html>
