<!DOCTYPE html>
<html>
<head>
  <title>w/you</title>
  <%= stylesheet_link_tag    "dmcs/all", media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag "dmcs/all" %>
  <%= csrf_meta_tags %>
</head>


<%= yield %>


</html>
