<div class="panel-body">

  <%= form_for @order, :url =>{action: "assign_shipped"}, :method =>:post, :html => {:class=> 'form-horizontal'} do |f| %>
    <fieldset>
      <div class="form-group">

        <div class="col-lg-10">
          <%= f.text_field :shipping_confirmation %>
        </div>
      </div>

      <%= f.submit 'submit', :class=>'btn btn-primary form-control' %>
    </fieldset>
  <% end %>
</div>
