<div class="container" style="margin-bottom: 100px;">
  <h2 class="centered">What To Expect Next</h2>
  <p style="margin-bottom: 30px;">
    We will notify you each time a new deposit is made to your account and also when we add any clothing, footwear, and accessories options to your account page for you to review.  At any time, you can use the funds in your w/you account to purchase items you select from among the options on your account page.  You can also use some of your funds to have one of our MedStylists<sup>&reg;</sup> provide you with more personalized assistance if you like.
  </p>
  <%= link_to 'Invite loved ones', campaign_invites_path(@campaign), class: 'btn btn-green' %>
  <p>or</p>
  <%= link_to 'Go to My Campaign', campaign_path(@campaign), class: 'btn btn-blue' %>
</div>
