<div class="container" style="margin-bottom: 100px;">
  <%= image_tag("kickstars/wyoulogo.png", class: 'centered') %>
  <h2 class="centered" style="color: #2B2D3D;">What To Expect Next</h2>
  <p style="margin-bottom: 30px;" style="color: #2B2D3D;">
    We will supply you with options based on the information you’ve provided as well as our intensive data-gathering of professional expertise and recommendations from people who’ve been in similar circumstances. <br /><br />

You’ll receive an email once your personalized store is ready.  You can then use the funds in your w/you account at any time to purchase the items that you select. You can also use some of your funds to have one of our MedStylists® provide you with more personalized assistance if you like.<br /><br />

In the meantime, you have the option of inviting loved ones of your choosing to help you pick out the items. You can also reach out to our founder, Annie at annie@wyou.co should there be an update to your situation or if you think of anything else you want us to know.

  </p>
  <%= link_to 'Invite Loved Ones', campaign_invites_path(@campaign), class: 'btn btn-green' %>
  <p>or</p>
  <%= link_to 'Go to My Account', campaign_path(@campaign), class: 'btn btn-blue' %>
</div>
