<div class="main bg-photo-main" style="background-color: white">

<!--    Change the image source '/images/default.jpg' with your favourite image.     -->

    <div class="cover blue" data-color="blue"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            <%= image_tag('wyoulogo.png') %>
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

        <div class="content">
            <h4 class="motto" style="color: #17375e;">Oops.. you have reached an error.  Please go back and try again or contact support at annie@wyou.co

        </div>
    </div>
    <!-- <div class="footer">
      <div class="container">
             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/coming-sssoon-page">here.</a>
      </div>
    </div> -->
 </div>
