<footer id="footer">

        <div class="container_12 main-footer">
            <div class="grid-2 pull-right">
                  <% if user_signed_in? %>
                    <%= link_to 'Edit User Info', edit_user_registration_path, :class=>'btn btn-blue' %>
                    <br />
                    <br />
                    <%= link_to 'Sign out', destroy_user_session_path, :class=>'btn btn-blue', :method=>'delete' %>
                  <% else %>
                    <%= link_to 'Sign in', new_user_session_path(redirect_to: request.path), :class=>'btn btn-blue' %>
                    <br />
                    <br />
                    <%= link_to 'Sign up', new_user_registration_path(redirect_to: request.path), :class=>'btn btn-blue' %>
                  <% end %>
              </div>
            <!-- div class="grid_3 about-us">
                <h3 class="rs title">About Us</h3>
                <p class="rs description">We believe the best way for you to learn about w/you is to watch our short crowd-
funding video by clicking on this link: </p> -->
                <!-- <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@megadrupal.com">info@megadrupal.com</a></p> -->
                <!-- <p class="rs">+1 (555) 555 - 55 - 55</p> -->
            <!-- </div> -->
            <div class="grid_3 recent-tweets">
                <h3 class="rs title">Follow Us!</h3>
                <div class="lst-tweets" id="sys_lst_tweets">
                    <!-- FACEBOOK LINK
                    <br /> -->
                    <a href="https://twitter.com/wyoufashion" class="twitter-follow-button" data-show-count="false">Follow @wyoufashion</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="clear clear-2col"></div>
            <div class="grid_3 email-newsletter">
                <!-- <h3 class="rs title">Contact Us</h3>
                <div class="inner">
                    <p class="rs description">
                        Email: questions@wyou.co <br />
                        Phone: 855-Iam-wyou<br /> (855-426-9968)<br />
                        Live Chat: Bottom right of page<br />
                        Media/Investor Inquiries: Annie@wyou.co</p>
                </div> -->
            </div>
            <div class="clear"></div>
        </div>

            <!-- <div class="container_12">
                <div class="grid_10">
                    <h3 class="rs title">Careers</h3>
                    <p class="rs description">Please keep checking back as we will be posting job openings as they come available!</p>
                </div>
                <!-- <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@megadrupal.com">info@megadrupal.com</a></p>
                <!-- <p class="rs">+1 (555) 555 - 55 - 55</p> -->
            <!-- </div> -->
                <div class="clear"></div>
            </div>
        </div>
    </footer>
    <div class="clear">
    </div>
