<div class="container_12 clearfix">
    <div class="grid_12 header-content">
        <div id="sys_header_right" class="header-right">
            <div class="account-panel">
              <% if current_user.email == @campaign.patient_email %>
                        <%= link_to 'My Store', campaign_stores_path(@campaign), class: 'btn btn-blue' %>
              <% end %>
              <% if request.path.split('/').last != "switch_campaign" && @campaign.id.present? %>
                <%= link_to 'Switch Campaign', campaign_switch_campaign_path(@campaign.id), class: 'btn btn-green' %>
              <% end %>
            </div>
            <!-- <div class="form-search">
                <form action="#">
                    <label for="sys_txt_keyword">
                        <input id="sys_txt_keyword" class="txt-keyword" type="text" placeholder="Search projects"/>
                    </label>
                    <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
                    <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>
                </form>
            </div> -->
        </div>
        <div class="header-left">
            <h1 id="logo">
                <%= image_tag 'kickstars/wyoulogo.png', size:"50x30" %>
            </h1>
            <div class="main-nav clearfix">
                <!-- <div class="nav-item">
                    <a href="#" class="nav-title">Discover</a>
                    <p class="rs nav-description">Great Projects</p>
                </div> -->
                <!-- <span class="sep"></span> -->
            </div>
        </div>
    </div>
</div>


