<div class="col-sm-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Campaign</h3>
    </div>

    <%= render "layouts/form", :object => @campaign %>
  </div>
</div>
