<h1>w/you Contribution Receipt</h1>

<p>Thank you for your contribution to <%=@campaign.patient_name %></p>
<br>
<h5>Here are the details of the contribution for your records:</h5>

<p>Contribution Amount: <%= @donation_amount %></p>
<p>Recipient: <%= @campaign.patient_name %></p>
