<h1>w/you Donation Receipt</h1>

<p>Thank you for your donation to <%=@campaign.patient_name %></p>
<br>
<h5>Here are the details of the donation for your records:</h5>

<p>Donation Amount: <%= @donation_amount %></p>
<p>Recipient: <%= @campaign.patient_name %></p>
