<h1> You have received a contribution to your campaign! </h1>

<h4><%= @user.name %> has contributed <%= @donation_amount %> to your campaign!</h4>
<br />
<h4>This brings your total campaign funds to $<%= @campaign.fund_amount %></h4>

<a href=<%= @url %>>Go to your Campaign</a>
