<!DOCTYPE html>
<html>
<head>
  <title>Admin dashboard</title>
  <%= stylesheet_link_tag    "admin_dashboard/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin_dashboard/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>